@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poiret+One&family=Poppins:wght@300;400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    @apply text-black;
    /* font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Source Sans 3", sans-serif;
    font-family: "Ubuntu", sans-serif;
    font-family: "Poppins", sans-serif; */
  }
  .gradient {
    @apply bg-gradient-to-r from-blueDarker to-blueLighter;
  }
  ,
  .container {
    @apply my-12;
  }
  .description {
    @apply p-14 w-[400px] h-[500px] flex justify-center items-center font-montserrat text-3xl font-light text-center rounded-2xl shadow-2xl relative;
  }
  .descriptionActive {
    @apply bg-blueCustom text-white blur-none relative z-50;
  }
  .descriptionNotActive {
    @apply bg-white text-blueCustom blur-sm relative z-0;
  }
  .stepsContainer {
    @apply flex px-8 py-10 rounded-2xl border-2 border-grey/[0.5] items-center;
  }
  .stepsNumber {
    @apply text-grey/[0.15] font-montserrat text-7xl font-extrabold mr-8;
  }
  .stepsDescription {
    @apply text-greenDark font-montserrat text-lg font-light;
  }
}
